<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%
	var title = page.title;
	
	if (is_archive()){
	  title = __('archive_a');
	
	  if (is_month()){
	    title += ': ' + page.year + '/' + page.month;
	  } else if (is_year()){
	    title += ': ' + page.year;
	  }
	} else if (is_category()){
	  title = __('category') + ': ' + page.category;
	} else if (is_tag()){
	  title = __('tag') + ': ' + page.tag;
	}
	%>
	<title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
	<% if (page.keywords){ %>
	<meta name="keywords" content="<%= page.keywords %>,<%= config.keywords %>">
	<% } else if (config.keywords){ %>
	<meta name="keywords" content="<%= config.keywords %>">
	<%} %>
	<% if (page.description){ %>
	<meta name="description" content="<%= page.description %>,<%= config.description %>">
	<% } else if (config.description){ %>
	<meta name="description" content="<%= config.description %>">
	<%} %>
	
	<!-- Bootstrap -->

	<link rel="stylesheet" href="<%= config.root %>bootstrap-icons.css">
	<link rel="stylesheet" href="<%= config.root %>swiper-bundle.min.css">
	<link rel="stylesheet" href="<%= config.root %>bootstrap.min.css">
	<link rel="stylesheet" href="<%= config.root %>style.css">
	
	<%- js('/jquery.min.js')%>
</head>